@import url(variables.css);

:root {
  --breakpoint-extra-small: 576px;
  --breakpoint-small: 768px;
  --breakpoint-medium: 992px;
  --breakpoint-large: 1200px;
}

@media only screen and (max-width: 768px) {
  .modal-dialog-wrapper {
    width: 100%;
    padding: 0 12px;
  }
  .logout-button-wrapper {
    flex: 1;
    display: flex;
    justify-content: end;
  }
  .settings-dialog-wrapper {
    width: 100%;
    overflow: auto;
    right: 0;
  }
  .settings-input-field {
    width: 100%;
    min-width: var(--settings-dialog-input-min-width);
  }
}
