:root {
  --background-color-BG-primary: #ffffff;
  --primary-bg-color: #e4610f;
  --brand-primary-color: #165dab;
  --brand-primary-active-color: rgba(22, 93, 171, 0.4);
  --light-hover-surface-color: #edf3fd;
  --base-gray-hex_300: #d1d5db;
  --base-gray-hex_50: #f9fafb;
  --primary-button-background-color: #114884;
  --primary-button-hover-background-color: #145399;
  --secondary-button-hover-background-color: #f2f4f8;
  --bg-danger-primary-light: #fef2f2;
  --surface-default-topnav_bg-dark: #000;
  --text-secondary: #374151;
  --actions-default-bg: #f3f4f6;
  --background-secondary-bg: #e8eaed;
  --text-tertiary: #687080;
  --font-meduim: 16px;
  --font-small: 14px;
  --font-h6: 20px;
  --font-24: 24px;
  --font-28: 28px;
  --font-extra-small: 12px;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;
  --font-weight-extraBold: 800;
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-28: 28px;
  --radius-40: 40px;
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing_16: 16px;
  --spacing_20: 20px;
  --spacing_24: 24px;
  --spacing_32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --line-height-normal: "normal";
  --line-height-16: 16px;
  --line-height-20: 20px;
  --line-height-24: 24px;
  --line-height-28: 28px;
  --line-height-32: 32px;
  --surface-success-primary-strong: #247f4b;
  --surface-success-primary-light: #2d9f5d;
  --bg-success-primary-light: #ebf8f1;
  --surface-danger-primary-strong: #dc2626;
  --surface-danger-primary-light: #dc2626;
  --searchIconSvg-max-height: 20px;
  --brand-logo-max-height: 45px;
  --search-bar-min-width: 260px;
  --table-tableData-min-width: 200px;
  --searchbar-max-height: 40px;
  --pagination-button-dimensions: 32px;
  --loader-spinner-dimensions: 48px;
  --small-loader-spinner-dimensions: 20px;
  --custom-alert-success-min-width: 360px;
  --custom-alert-success-max-width: 425px;
  --secondary-button-active-background-color: #e4e8f1;
  --model-background-fade: rgba(0, 0, 0, 0.281);
  --settings-dialog-wrapper-top-value: 60px;
  --settings-dialog-input-max-width: 75px;
  --settings-dialog-input-min-width: 60px;
  --surface-default-moderate: #e8eaed;
}
